{% extends 'base.html'%}
{% block content %}
{{ block.super }}
<style>
    h3{
        text-decoration:underline;
    }
</style>
<div class="container">
    <div class="table-responsive text-nowrap">
        <h3 class="text-center">Order Summary</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total item price</th>
      </tr>
    </thead>
    <tbody>
    {% for order_item in object.items.all %}
      <tr>
        <th scope="row">1</th>
        <td>{{ order_item.item.name }}</td>
        <td>{{ order_item.item.price }}</td>
        <td>{{order_item.quantity}}</td>
        <td>?\</td>
      </tr>
    {% endfor %}
        </tbody>
  </table>

</div>
</div>
{% endblock content%}