{% extends 'registration/reg_base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    li{
        display:none;
    }
</style>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h4>Join Today</h4>
            <hr>
            <form action="" method="post" class="form-group">
                {% csrf_token %}
                {{form|crispy}}
                <p>Already have an account?<a href="/login">Login</a></p>
                <button class="btn btn-success" type="submit">Sign Up</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}